<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>NESTOR MARTINEZ</h2>
      <h4>sksmartinez@gmail.com</h4>
    </div>
    <img id="avatar" src="assets/img/perfil.jpeg" alt="Avatar">
  </div>

  <hr>

  <h2 matSubheader>Páginas</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panel-administrativo">Panel Administrativo</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panel-administrativo/roles">Roles</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panel-administrativo/permisos">Permisos</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panel-administrativo/post">Animales</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panel-administrativo/articles">Ventas</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panel-administrativo/articles">Compras</a>

  <hr>

  <h2 matSubheader> Topls</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panel-administrativo/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contáctos
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panel-administrativo/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>


</mat-nav-list>




